<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/styles/screen.css">
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="/js/scrollreveal.js"></script>

</head>
<body>
    <header>
        <h1>Planetary Playing Cards</h1>
    </header>

    <main>
        {{ content }}
    </main>
    <script src="https://unpkg.com/scrollreveal"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Sun card animation
        ScrollReveal().reveal('.sun-card', {
            delay: 500,
            duration: 1000,
            distance: '50px',
            origin: 'left',
            easing: 'ease-in-out'
        });

        // Planet cards animation
        ScrollReveal().reveal('.planet-card', {
            delay: 700,
            duration: 1200,
            distance: '50px',
            origin: 'bottom',
            easing: 'ease-in-out',
            interval: 400
        });
    });
</script>

</body>
</html>
